body{
    font-family: 'Noto Sans JP', sans-serif; 
    display: flex;
    justify-content: center;
    background-color: rgb(43, 50, 56);
    margin: auto 12px auto 12px;
}

header{
    /* border: red 1px solid; */
    border-radius: 8px;
    display: flex;
    position: fixed;
    margin-top: 16px;
    font-size: 35px;
    background-color: rgb(43, 50, 56);
}

#logo{
    /* border: 1px green solid; */
    color: #62ACB5;
    font-size: 35px;
}

#sidebar_icon{
    /* border: 1px blue solid; */
    font-size: 35px;
    text-align: right;
    color: #62ACB5;
    transition: linear opacity 1s;
}

#home_link{
    /* border: black 1px solid; */
}

#nav_link{
    /* border: steelblue 1px solid; */
    margin-left: 75.5vw;
}

#moniker{
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: rgb(146, 174, 192);
    font-size: 70px;
}

#about{
    /* border: aqua 1px solid; */
    padding-top: 20px;
    padding-bottom: 50px;
}

#about p{
    font-size: 15px;
    font-weight: 200;
}

.nav_bar{
    /* border: yellow 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.content{
    /* border: tomato 1px solid; */
    width: 100%;
}

.content_sections{
    color: rgb(86, 102, 112);
}

.content_sections h2{
    color: rgb(175, 202, 219);
    border: #62ACB5 2px solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 0px;
}


.sidebar{
}

.sidebar_list{
}

